@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: local('Cinzel Regular'), local('Cinzel-Regular'), url(http://fonts.gstatic.com/s/cinzel/v9/8vIJ7ww63mVu7gt79mT-.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  src: local('Teko Light'), local('Teko-Light'), url(http://fonts.gstatic.com/s/teko/v9/LYjCdG7kmE0gdQhfsCRgrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: local('Teko Regular'), local('Teko-Regular'), url(http://fonts.gstatic.com/s/teko/v9/LYjNdG7kmE0gfaN9oA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(http://fonts.gstatic.com/s/robotocondensed/v18/ieVg2ZhZI2eCN5jzbjEETS9weq8-19eDpCEobdNc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(http://fonts.gstatic.com/s/robotocondensed/v18/ieVj2ZhZI2eCN5jzbjEETS9weq8-19eLDwM4.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(http://fonts.gstatic.com/s/robotocondensed/v18/ieVg2ZhZI2eCN5jzbjEETS9weq8-19eDtCYobdNc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(http://fonts.gstatic.com/s/robotocondensed/v18/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCQYag.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(http://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(http://fonts.gstatic.com/s/robotocondensed/v18/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYag.ttf) format('truetype');
}
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel Regular'), local('Abel-Regular'), url(http://fonts.gstatic.com/s/abel/v10/MwQ5bhbm2POE2V9BOA.ttf) format('truetype');
}
/**************************/
/***** GENERAL STYLES *****/
/**************************/
body {
  background-color: #101010;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cinzel, serif;
  font-weight: 400;
}
h2 {
  border-bottom: 1px #101010 solid;
  padding-bottom: 5px;
}
p,
li {
  font-family: 'Roboto Condensed', serif;
  font-size: 1.6rem;
  font-weight: 300;
}
p:first-of-type {
  margin-top: 20px;
}
a {
  color: #ffffff;
}
a:hover {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 2px 2px 8px black;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  padding: 20px;
}
img {
  max-width: 100%;
}
button {
  background-color: #101010;
  border: none;
  color: #ffffff;
  font-family: 'Teko', sans-serif;
  font-size: 2.4rem;
  padding: 5px 30px;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s;
}
button:hover,
button.btn-selected {
  background-color: #ffffff;
  color: black;
  text-decoration: underline;
}
button.reverse {
  background-color: #ffffff;
  color: #101010;
}
button.reverse-selected {
  background-color: #101010;
  color: #ffffff;
}
button.reverse-selected:hover {
  background-color: #101010;
  color: #ffffff;
}
button.close,
button.close:hover {
  background-color: #ffffff;
  margin: 0 !important;
  opacity: 1;
}
fieldset {
  margin-bottom: 10px;
}
fieldset input,
fieldset label,
fieldset textarea {
  font-family: 'Roboto Condensed', serif;
  font-size: 1.6rem;
  font-weight: 100;
  width: 100%;
}
fieldset input,
fieldset textarea {
  border: 1px solid #101010;
  padding: 5px;
}
fieldset label {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0 5px;
  text-transform: uppercase;
}
/*********************/
/***** LOCATIONS *****/
/*********************/
nav.social-media-icons-container {
  border-top: 1px #101010 solid;
  margin-top: 20px;
  padding-top: 10px;
}
.slim-nav-container {
  background-color: #101010;
}
#about-us-container {
  background-color: #ffffff;
  color: #101010;
  display: none;
}
#about-us-container a {
  color: #101010;
}
#about-us-container .servicesLinks {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#about-us-container .socialMedia {
  display: flex;
  justify-content: center;
}
#about-us-container .socialMedia a {
  color: #101010;
  margin: 20px;
}
#about-us-container header {
  margin-top: 35px;
}
#about-us-container .social-media-icons-container {
  border-top: none;
  margin: 0 auto;
  max-width: 175px;
  padding-top: 0;
}
#main-header-container {
  background: url('../images/background-blur.jpg') center top no-repeat;
  background-size: cover;
  height: 600px;
  transition: height 0.6s ease-in-out;
}
#main-header-container.about-us-adjustment {
  height: 300px;
}
#main-header-container.about-us-adjustment #logo-trademark-container {
  margin: 50px 20px 0;
}
@media (max-width: 768px) {
  #main-header-container {
    background-position: center 0;
  }
  #main-header-container.about-us-adjustment {
    background-position: right -75px;
    margin-bottom: -75px;
  }
}
#main-header {
  color: #ffffff;
  text-align: center;
}
#logo-trademark-container {
  background-color: rgba(0, 0, 0, 0.75);
  border: 10px rgba(255, 255, 255, 0.1) solid;
  display: inline-block;
  margin: 175px 20px 0;
  padding: 25px;
  transition: margin 0.6s ease-in-out;
}
#logo-trademark-container img {
  max-width: 400px;
  width: 100%;
}
#who-we-are-container {
  background-color: #ffffff;
}
#who-we-are-container iframe {
  border: 10px #101010 solid;
  height: 40vw;
  margin: 10px auto 30px;
  max-height: 531px;
  max-width: 100%;
  width: 71vw;
}
#who-we-are-container p {
  font-size: 2.2rem;
  margin: 25px auto;
  text-align: left;
  text-shadow: 0 2px 2px #101010;
}
#services-container {
  color: #ffffff;
  padding: 50px 0;
  text-align: center;
}
#services-container h1 {
  border-bottom: 1px #101010 solid;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#services-container h3 {
  margin-top: 10px;
  text-decoration: none;
}
#services-container a:hover {
  text-shadow: 2px 2px 8px #ffffff;
}
#services-container .gallery-listing {
  margin-bottom: 25px;
  margin-top: 25px;
}
#services-container img {
  border: 10px #ffffff solid;
  margin-bottom: 10px;
}
#costumes-container {
  margin: 50px 0;
  text-align: center;
}
#costumes-container h1 {
  border-bottom: 1px #ffffff solid;
  margin-bottom: 50px;
  padding-bottom: 10px;
}
#costumes-container img {
  border: 10px #ffffff solid;
  width: 100%;
}
#costumes-container #boss-carousel {
  margin: 0 auto;
  max-width: 1024px;
}
footer.main-footer {
  background-color: #ffffff;
  color: black;
}
footer.main-footer p {
  font-family: 'Teko', sans-serif;
  font-size: 2.8rem;
  line-height: 2.8rem;
  margin-bottom: 5px;
}
footer.main-footer p.sub-text {
  font-family: 'Roboto Condensed', serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-bottom: 25px;
}
footer.main-footer .social-media-icons-container {
  border-top: none;
  margin-top: 30px;
  padding-top: 0;
}
footer.main-footer .social-media-icons-container a {
  color: #101010;
  margin: 10px;
}
/*******************/
/***** CLASSES *****/
/*******************/
.auxiliary-content {
  font-family: Abel, serif;
  font-size: 1.6rem;
  text-transform: uppercase;
}
/****************************************/
/***** jQuery / Bootstrap Overrides *****/
/****************************************/
.modal-content {
  border-radius: 0;
  color: #101010;
}
.modal-header,
.modal-footer {
  border: none;
}
.modal-body {
  overflow: auto;
  padding-bottom: 0;
}
.modal-body.modal-body-temp {
  padding: 20px 10px 10px;
  text-align: center;
}
.modal-body.modal-body-temp h1,
.modal-body.modal-body-temp h2 {
  border-bottom: 0;
  margin: 0;
}
.modal-body.modal-body-temp h1 {
  font-family: 'Teko', sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
}
.modal-body.modal-body-temp h2 {
  border-top: 1px black solid;
  font-family: Abel, serif;
  font-size: 3.6rem;
  padding: 10px;
  margin-bottom: 5px;
}
.modal-body.modal-body-temp a {
  background: #101010;
  color: #ffffff;
  display: block;
  font-family: 'Roboto Condensed', serif;
  font-size: 2.2rem;
  padding: 10px;
}
.modal-body.modal-body-temp .social-media-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #101010;
}
.modal-body.modal-body-temp .social-media-icons-container a {
  width: 10%;
}
.modal-body.modal-body-temp .social-media-icons-container a:hover {
  text-shadow: 2px 2px 8px #ffffff;
}
.modal-footer {
  padding-top: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0s ease-out;
  -o-transition: -o-transform 0s ease-out;
  transition: transform 0s ease-out;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-fade .carousel-control.left,
.carousel-fade .carousel-control.right {
  background: none;
}
